<!DOCTYPE html>
<html>
<head>
	<title>Enter the values</title>
</head>
<body>
    <form action="{{ url_for('submit') }}" method="POST">
		<label for="city">City:</label>
		<input type="text" id="city" name="city"><br>

		<label for="second">Second:</label>
		<input type="text" id="second" name="second"><br>

		<label for="third">Third:</label>
		<input type="text" id="third" name="third"><br>

		<label for="fourth">Fourth:</label>
		<input type="text" id="fourth" name="fourth"><br>

        <button type="submit" id="submit-button">Submit</button>
	</form>

</body>
</html>